<ion-view ng-init="closeModal()" ng-class="{blurcontent:isOpen}">
    <ion-content id="contact" scrollbar-y="false">

        <div class="list info">

            <div class="item no-border">
                <div class="flex">
                    <h5>Address</h5>
                    <span>| 地址：</span>
                    <a href="http://map.baidu.com/mobile/webapp/index/index#place/linesearch/foo=bar/from=place&end=word%3D%25E5%25B0%258F%25E5%25A0%25A1%25E8%2589%25BA%25E6%259C%25AF%25E4%25B8%259C%25E5%258C%25BA%26point%3D12993921.19%252C4833782.38%26uid%3D0bde414afa0ceba68f55eca6&tab=line" id="location" class="button button-clear icon ion-location"></a>
                </div>
                <span class="info-content">北京市通州区宋庄镇艺术东区旗帜艺术区201室</span>
            </div>

            <div class="item no-border">
                <div class="flex">
                    <h5>Email</h5>
                    <span>| 邮箱：</span>
                </div>
                <span>673151976@qq.com</span>
            </div>

            <div class="item no-border">
                <div class="flex">
                    <h5>Tel</h5>
                    <span>| 电话：</span>
                </div>
                <span>13611360969</span>
            </div>
        </div>


    </ion-content>
</ion-view>