<ion-view ng-init="closeModal()" ng-class="{blurcontent:isOpen}">
    <ion-content id="exhibition-list" scrollbar-y="false">
        <div class="list">
            <a class="item item-text-wrap item-cover-image-right" href="#gallery/contain/171">
                <h4>虚薄之境</h4>
                <h5>对画：山水与风景</h5>
                <div class="cover-image cover-image-60-60 cover-image-vertical-center" style="background-image: url('img/group-exhibition-01.png')">
                </div>
                <p class="summary-3-line"></p>
            </a>

            <a class="item item-text-wrap item-cover-image-right" href="#gallery/contain/139">
                <h4>潮汐间</h4>
                <h5>青年当代艺术展</h5>
                <div class="cover-image cover-image-60-60 cover-image-vertical-center" style="background-image: url('img/group-exhibition-02.jpg')">
                </div>
                <p class="summary-3-line"></p>
            </a>
        </div>
    </ion-content>
</ion-view>