<ion-view ng-init="closeModal()" ng-class="{blurcontent:isOpen}">
    <ion-content id="exhibition-list" scrollbar-y="false">
        <div class="list">
            <a class="item item-text-wrap item-cover-image-right" href="#gallery/contain/171">
                <h4>虚薄之境</h4>
                <h5>对画：山水与风景</h5>

                <div class="cover-image cover-image-60-60 cover-image-vertical-center"
                     style="background-image: url('img/group-exhibition-01.png')">
                </div>
                <p class="summary-3-line"></p>
            </a>

            <a class="item item-text-wrap item-cover-image-right" href="#gallery/contain/180">
                <h4>潮汐间</h4>
                <h5>青年当代艺术展</h5>

                <div class="cover-image cover-image-60-60 cover-image-vertical-center"
                     style="background-image: url('img/group-exhibition-02.jpg')">
                </div>
                <p class="summary-3-line"></p>
            </a>

            <a class="item item-text-wrap item-cover-image-right" href="#gallery/contain/182">
                <h4>当代平淡绘画展</h4>
                <h5></h5>

                <div class="cover-image cover-image-60-60 cover-image-vertical-center"
                     style="background-image: url('img/group-exhibition-03.jpg')">
                </div>
                <p class="summary-3-line"></p>
            </a>

            <a class="item item-text-wrap item-cover-image-right" href="#gallery/contain/184">
                <h4>第二届V时代青年当代艺术展</h4>
                <h5></h5>

                <div class="cover-image cover-image-60-60 cover-image-vertical-center"
                     style="background-image: url('img/group-exhibition-04.jpg')">
                </div>
                <p class="summary-3-line"></p>
            </a>

            <a class="item item-text-wrap item-cover-image-right" href="#gallery/contain/186">
                <h4>非今</h4>
                <h5></h5>

                <div class="cover-image cover-image-60-60 cover-image-vertical-center"
                     style="background-image: url('img/group-exhibition-05.jpg')">
                </div>
                <p class="summary-3-line"></p>
            </a>

            <a class="item item-text-wrap item-cover-image-right" href="#gallery/contain/188">
                <h4>观乎人文</h4>
                <h5>《水墨味》杂志七周年庆书画百家邀请展</h5>

                <div class="cover-image cover-image-60-60 cover-image-vertical-center"
                     style="background-image: url('img/group-exhibition-06.jpg')">
                </div>
                <p class="summary-3-line"></p>
            </a>

            <a class="item item-text-wrap item-cover-image-right" href="#gallery/contain/190">
                <h4>绘画的书写性</h4>
                <h5></h5>

                <div class="cover-image cover-image-60-60 cover-image-vertical-center"
                     style="background-image: url('img/group-exhibition-07.jpg')">
                </div>
                <p class="summary-3-line"></p>
            </a>

            <a class="item item-text-wrap item-cover-image-right" href="#gallery/contain/192">
                <h4>墨变</h4>
                <h5>当代水墨的书写性与自然性</h5>

                <div class="cover-image cover-image-60-60 cover-image-vertical-center"
                     style="background-image: url('img/group-exhibition-08.jpg')">
                </div>
                <p class="summary-3-line"></p>
            </a>

            <a class="item item-text-wrap item-cover-image-right" href="#gallery/contain/194">
                <h4>默化墨</h4>
                <h5></h5>

                <div class="cover-image cover-image-60-60 cover-image-vertical-center"
                     style="background-image: url('img/group-exhibition-09.jpg')">
                </div>
            </a>

            <a class="item item-text-wrap item-cover-image-right" href="#gallery/contain/196">
                <h4>青年墨语</h4>
                <h5></h5>

                <div class="cover-image cover-image-60-60 cover-image-vertical-center"
                     style="background-image: url('img/group-exhibition-10.jpg')">
                </div>
            </a>

            <a class="item item-text-wrap item-cover-image-right" href="#gallery/contain/198">
                <h4>无所从来</h4>
                <h5>素墨禅风十二人书画展</h5>

                <div class="cover-image cover-image-60-60 cover-image-vertical-center"
                     style="background-image: url('img/group-exhibition-11.jpg')">
                </div>
            </a>

            <a class="item item-text-wrap item-cover-image-right" href="#gallery/contain/20">
                <h4>字声</h4>
                <h5></h5>

                <div class="cover-image cover-image-60-60 cover-image-vertical-center"
                     style="background-image: url('img/group-exhibition-12.jpg')">
                </div>
            </a>
        </div>
    </ion-content>
</ion-view>