<div class="modal" id="main-menu">
    <ion-content class="has-header" scrollbar-y="false">
        <div class="content-wrap">
            <div class="list link-list">
                <a href="#" class="item flex">
                    <h5>Home</h5>
                    <span>|</span>
                    <span>首页</span>
                </a>
            </div>
            <div class="list link-list">
                <a href="#resume" class="item flex">
                    <h5>Resume</h5>
                    <span>|</span>
                    <span>艺术家</span>
                </a>
            </div>

            <div class="list link-list">
                <a href="#gallery/contain/2" class="item flex">
                    <h5>Painting</h5>
                    <span>|</span>
                    <span>绘画</span>
                </a>
            </div>

            <div class="work-cat">
                <div class="list link-list">
                    <a href="#gallery/contain/2" class="item flex">
                        <h5>2014</h5>
                        <!--<span>2014</span>-->
                    </a>
                </div>
                <div class="list link-list">
                    <a href="#gallery/contain/23" class="item flex">
                        <h5>2013</h5>
                        <!--<span>2013</span>-->
                    </a>
                </div>
                <div class="list link-list">
                    <a href="#gallery/contain/47" class="item flex">
                        <h5>2012</h5>
                        <!--<span>2012</span>-->
                    </a>
                </div>
                <div class="list link-list">
                    <a href="#gallery/contain/48" class="item flex">
                        <h5>2010-2011</h5>
                        <!--<span>2010-2011</span>-->
                    </a>
                </div>
            </div>

            <div class="list link-list">
                <a href="#gallery/contain/50" class="item flex">
                    <h5>Calligraphy</h5>
                    <span>|</span>
                    <span>书法</span>
                </a>
            </div>

            <div class="list link-list">
                <a href="#list/list-article/page-simple/1" class="item flex">
                    <h5>Articles</h5>
                    <span>|</span>
                    <span>文章</span>
                </a>
            </div>

            <div class="work-cat">
                <div class="list link-list">
                    <a href="#list/list-simple/page-simple/2" class="item flex">
                        <h5>Blogs</h5>
                        <span>个人文章</span>
                    </a>
                </div>

                <div class="list link-list">
                    <a href="#list/list-article/page-simple/1" class="item flex">
                        <h5>Reviews</h5>
                        <span>评论</span>
                    </a>
                </div>
            </div>

            <div class="list link-list">
                <a href="#gallery/contain/127" class="item flex">
                    <h5>Exhibitions</h5>
                    <span>|</span>
                    <span>展览</span>
                </a>
            </div>

            <div class="work-cat">
                <div class="list link-list">
                    <a href="#gallery/contain/127" class="item flex">
                        <h5>Solo Exhibitions</h5>
                        <span>个展</span>
                    </a>
                </div>
                <div class="list link-list">
                    <a href="#group-exhibiton" class="item flex">
                        <h5>Group Exhibitons</h5>
                        <span>群展</span>
                    </a>
                </div>
            </div>

            <div class="list link-list">
                <a href="#contact" class="item flex">
                    <h5>Contact</h5>
                    <span>|</span>
                    <span>联络</span>
                </a>
            </div>
        </div>
    </ion-content>
</div>