<ion-view ng-init="closeModal()" ng-class="{blurcontent:isOpen}">
    <ion-content id="resume" scrollbar-y="false">
        <div class="cover-image cover-image-95-95 cover-image-round has-border"
             style="background-image: url('img/xuchang.jpg')"></div>

        <div class="list padding">
            <div class="item flex flex-center no-border">
                <h1>Xu Chang</h1>
                <h5>| 徐畅</h5>
            </div>

            <div id="basic-info" class="item no-border">

                <p>生于1977年 黑龙江省伊春市人</p>

                <p>现生活，创作于北京</p>
            </div>

            <div id=education class="item no-border">
                <h4>Education & Work</h4>

                <p>2003年 毕业于中央美术学院壁画系</p>

                <p>2004年至2005年 北京今日美术馆，任图书编辑中心设计部主任</p>

                <p>2006年至2012年 中国传媒大学南广学院艺术设计系</p>
            </div>

            <div class="item no-border">
                <h4>Exhibitions</h4>

                <p>2003年7月：作品《白色物像》获中央美术学院冈松家族艺术基金毕业创作二等奖。获得2003年中央美术学院 “首届学院之光毕业生优秀作品展”创新奖。</p>

                <p>2003年11月：北京 中央美术学院陈列馆联展“汇合”</p>

                <p>2004年3月：北京 炎黄艺术馆“视界”</p>

                <p>2006年５月：北京 上苑联展 第三届艺术家工作室开放展</p>

                <p>2007年8月：北京 “酱艺术中心”、“场-字声展”</p>

                <p>2007年11月：北京 想象画廊 "非今"</p>

                <p>2011年5月：北京 书谱美术馆 “当代平淡绘画展”</p>

                <p>2011年7月：北京 当代艺术馆 “绘画与书写性”</p>

                <p>2011年10月：北京 上上国际美术馆 “新历史－宋庄（当代水墨展）”</p>

                <p>2013年6月：青岛 天泰美术馆 “墨变－当代水墨的书写性与自然性”</p>

                <p>2013年12月：深圳 关山月美术馆 “青年墨语”第八届深圳国际水墨双年展</p>

                <p>2014年1月：北京 炎黄艺术馆 “观乎人文”《水墨味》杂志七周年志庆书画百家邀请展</p>

                <p>2014年3月：深圳长安 饶宗颐美术馆 “无所从来”素墨禅风十二人书画展</p>

                <p>2014年4月：北京 树美术馆 “繁星计划”第二届青年艺术家展</p>

                <p>2014年6月：北京 正和诚艺术空间 “默化墨”－水墨邀请展</p>

                <p>2014年7月：意大利佛罗伦萨 斯蒂波特博物馆 “值得收藏的文字”－2014国际当代汉字书法艺术双年展 </p>

                <p>2014年12月：三亚艺术季“潮汐间”第二届华宇青年展</p>

            </div>

            <div class="item no-border">
                <h4>Publications</h4>

                <p>《艺术状态》</p>

                <p>《天籁的绘画》</p>

                <p>《美术向导》</p>

                <p>《2003 “学院之光”中央美术学院优秀作品集》</p>

                <p>《新视线艺术传媒-第三回北京北上苑艺术家工作室开放展》</p>

                <p>《北京找北−上苑画家杂记》</p>

                <p>《水墨鉴真》</p>

                <p>《画风（2009）》</p>

                <p>《平淡的哲学》</p>

                <p>《十方艺术》</p>

                <p>《敦煌美术》</p>

                <p>《凤凰书画》</p>

                <p>《2012－2013中国画艺术年鉴》</p>

                <p> 2008年 画集《泗滨浮磬−徐畅作品册》</p>

                <p> 2012年 画集《眉密山砚－ 徐畅作品册》</p>

                <p>2014年画集《得么－圆池作品》</p>
            </div>

        </div>
    </ion-content>
</ion-view>