<div class="modal" id="main-menu">
    <ion-content class="has-header" scrollbar-y="false">
        <div class="content-wrap">
            <div class="list link-list">
                <a href="#" class="item flex">
                    <h5>Home</h5>
                    <span>|</span>
                    <span>首页</span>
                </a>
            </div>
            <div class="list link-list">
                <a href="#page/page-slide/4" class="item flex">
                    <h5>About</h5>
                    <span>|</span>
                    <span>关于木兰</span>
                </a>
            </div>

            <div class="list link-list">
                <a href="#gallery/grid-gallery-2/62" class="item flex">
                    <h5>Life</h5>
                    <span>|</span>
                    <span>木兰生活</span>
                </a>
            </div>

            <div class="list link-list">
                <a href="#gallery/grid-gallery/24" class="item flex">
                    <h5>Collections</h5>
                    <span>|</span>
                    <span>木兰之藏</span>
                </a>
            </div>

            <div class="work-cat">
                <div class="list link-list">
                    <a href="#gallery/grid-gallery/24" class="item flex">
                        <h5>Furniture</h5>
                        <span>家具</span>
                    </a>
                </div>
                <div class="list link-list">
                    <a href="#gallery/grid-gallery/44" class="item flex">
                        <h5>Jewelry</h5>
                        <span>珠宝</span>
                    </a>
                </div>
                <div class="list link-list">
                    <a href="#gallery/grid-gallery/55" class="item flex">
                        <h5>Tea</h5>
                        <span>茶</span>
                    </a>
                </div>
            </div>

            <div class="list link-list">
                <a href="#gallery/grid-gallery-2/75" class="item flex">
                    <h5>Events</h5>
                    <span>|</span>
                    <span>木兰活动</span>
                </a>
            </div>

            <div class="list link-list">
                <a href="#contact" class="item flex">
                    <h5>Contact</h5>
                    <span>|</span>
                    <span>联系木兰</span>
                </a>
            </div>
        </div>
    </ion-content>
</div>