<ion-view  ng-init="closeModal();" ng-class="{blurcontent:isOpen}">
    <ion-nav-buttons side="right">
        <button class="button icon button-clear" ng-click="closeInfoBox();closeModal();toggleGallery();">
            <img src="img/icon_grid.svg"/>
        </button>
    </ion-nav-buttons>

    <ion-content scroll="false">
        <ng-include src="'list-ion-slide.html'" class="gallery-contain full-page-contain"></ng-include>

        <button class="button icon button-clear info-modal-button function-btn" ng-click="openInfoBox();pushItemInfo();">
            <img src="img/icon_info.svg"/>
        </button>
        <!--<button class="button icon button-clear heart-modal-button function-btn" ng-click="addToFavor();">-->
            <!--<img src="img/icon_heart.svg"/>-->
        <!--</button>-->
    </ion-content>

</ion-view>

